
 .desktop-item-view {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 1170px;
    height: 550px;
    background: #ebe986;
 }

 .top-bar{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20px;
    background: #f11973;
 }

 .top-bar-button-pallet{
    position: absolute;
    top: -8px;
    right:0%;
    height: 100%;
 }