
#panel, #flip {  
    padding: 5px;  
    text-align: center;  
    background-color: #00FFFF;  
    border: solid 1px #c3c3c3;  
}  
#panel {  
    padding: 50px;  
} 

.start-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 5%;
    background-color: rgb(42, 1, 54);
    color: white;
    text-align: center;
 }